@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'material-symbols';

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: serif;
}

.fixed-table {
  width: 100%;
}
.fixed-table th {
  width: 100px;
}
